@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #1e1e1f;
  /* background-image: url(./assets/abstract-textured-backgound.jpg); */
  overflow-x: hidden !important; /* Hide horizontal scrollbar */
  cursor: none;
}
.circle-cursor {
  position: fixed !important;
  top: 0%;
  left: 0%;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: #e27231;
  mix-blend-mode: difference !important;
  pointer-events: none !important;
  z-index: 9999999 !important; 
  transform: translate(-50%, -50%);
}


html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

a,
.btn {
  transition: all 300ms ease;
}

.nav-links {
  display: flex;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 12vh;
  position: fixed;
  width: 100%;
  z-index: 9999;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  animation: slide-top 0.6s ease forwards;
}
@keyframes slide-top {
  0% {
    transform: translateY(-1000px);
  }

  100% {
    transform: translateY(0px);
  }
}

nav.scrolled {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: beige;
  text-decoration: none;
  text-decoration-color: beige;
  position: relative;
}

a:hover {
  color: grey;
  cursor: none;
}

.menu-links a:hover {
  color: grey;
}

.nav-links a::after {
  content: "";
  width: 0;
  height: 2px;
  background: #d96846;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

a:hover::after {
  width: 0%;
}
.nav-links a.active {
  color: grey;
  background: none;
}

.nav-links a.active::after {
  width: 100%;
}
.logo {
  font-size: 3rem;
  color: beige;
  animation: slide 0.6s ease forwards;
}
@keyframes slide {
  0% {
    transform: translateX(-1000px);
  }

  100% {
    transform: translateX(0px);
  }
}

.logo:hover {
  color: #d96846;
  transition: 0.3s;
  cursor: none;
}

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: none;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: beige;
  transition: all 0.3 ease-in-out;
}
*/ .menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: black;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: beige;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

.mobile-container {
  margin: auto;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  display: none;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  float: left;
  color: beige;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.1rem;
  transition: all 1 ease-in-out;
}

.topnav a.icon-mobile {
  float: right;
}

.topnav a:hover {
  background-color: beige;
  color: #d96846;
}

.active {
  background-color: #04aa6d;
  color: beige;
  padding-top: 5px;
}

section {
  padding-top: 4vh;
  height: 90vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

#profile {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  position: relative;
}

/* 
#profile svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  } */

.blob-container {
  position: relative;
  width: 62.5rem;
  height: 58rem;
}

.blob-background {
  position: absolute;
  width: 62.5;
  height: 60rem;
  z-index: 0;
}

.blob-background svg {
  width: 100%;
  height: 100%;
}

.profile-image {
  position: absolute;
  top: 28%;
  left: 48%;
  transform: translate(-40%, -30%);
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  z-index: 1;
  border: hidden;
}

.section_text {
  align-items: center;
  text-align: center;
}

.section_text p {
  font-weight: 600;
}

.section_text_p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: white;
  text-align: left;
}

.section_text_p3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: white;
  text-align: left;
}
#text {
  color: #d96846;
  opacity: 0;
  transition: opacity 0.5s ease;
  white-space: nowrap;
  display: inline-block;
  text-align: left;
}

.section_text_p1 {
  text-align: left;
  font-size: 2rem;
  color: white;
}

.title {
  font-size: 2.6rem;
  color: #d96846;
  text-align: center;
  margin-bottom: 1rem;
  position: relative;
}
.title-skills {
  font-size: 2.6rem;
  color: #d96846;
  text-align: center;
  margin-bottom: 1rem;
  position: relative;
}
.title::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 10%;
  height: 2px;
  background-color: #d96846;
}
.title-skills::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 4%;
  height: 2px;
  background-color: #d96846;
}
.name-title {
  font-size: 2.6rem;
  color: #d96846;
  text-align: left;
  margin-bottom: 1rem;
}
.title-about {
  position: relative;
  font-size: 2.6rem;
  color: white;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 10rem;
}
.title-about::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 12%;
  height: 2px;
  background-color: #d96846;
}

#socials-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  gap: 1.5rem;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: beige;
  padding: 10px;
  border-radius: 20px 0 0 20px;
  height: 20rem;
}

#socials-container img:hover {
  transform: scale(1.04);
}

.icon {
  cursor: none;
  width: 2rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 10rem;
  border-radius: 8px;
  height: 3rem;
}

.btn-color-1,
.btn-color-2 {
  border: beige 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: none;
}

.btn-color-1 {
  background: none;
  border: #d96846 0.1rem solid;
  color: #dbd9d9;
}

.btn-color-1:hover {
  background-color: #d96846;
  color: black;
  opacity: 0.8;
}

.btn-color-2 {
  background: none;
  border: #d96846 0.1rem solid;
  color: #dbd9d9;
}

.btn-color-2:hover {
  background-color: #d96846;
  color: black;
  opacity: 0.8;
}

#about {
  position: relative;
  height: 100vh;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  display: flex;
  max-width: 62.5rem;
  margin: 3.75rem;
  padding: 0.3rem;
  height: 21.875rem;
  flex-wrap: wrap;
  justify-content: center;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.text-container {
  display: inline;
}
.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.text-container p {
  color: white;
  font-size: 1.23rem;
}

.sentence_doing {
  color: white;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: block;
  text-align: center;
}

.details-container {
  padding: 1rem;
  background: #1e1e1e;
  border-radius: 9px;
  border: 0.5px solid #141313;
  text-align: center;
  /* transition: box-shadow 0.3s ease; */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* box-shadow: 0px 1px 1px 1px #111111; */
  cursor: none;
  width: 298px;
  flex-wrap: wrap;
}

.details-container h2 {
  color: #ffffff;
  font-weight: 500;
}

.details-container p {
  color: #9e9a99;
  margin-top: 1rem;
}

.details-container:hover {
  /* box-shadow: 10px 10px 20px rgba(245, 243, 243, 0.5); */
  /* box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2); */

  transform: translateY(-4px);
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section_pic-container {
  height: 25rem;
  width: 25rem;
  margin: auto;
  display: flex;
}

#skills {
  position: relative;
  width: 100%;
  height: 70vh;
  padding: 10px;
  margin: auto;
  margin-bottom: -12rem;
}
.row {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 4.375rem;
  justify-content: space-evenly;
  height: 90vh;
}
.row .col {
  flex-basis: 100%;
}
.row .sub-title h1 {
  position: relative;
  color: #ffffff;
  font-size: 22px;
  display: inline-block;
  margin-bottom: 1.875rem;
}
.row .sub-title h2::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  top: 125%;
  left: 0;
  background-color: #808080;
}
.row .sub-title h2::after {
  content: "";
  position: absolute;
  width: 25%;
  height: 3px;
  top: calc(125% - 1px);
  left: 0;
  background-color: #d96846;
}
.subject {
  font-size: 18px;
  font-weight: thin;
  color: #808080;
  padding-bottom: 15px;
  text-transform: uppercase;
}
.progress-bar {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #808080;
  border-radius: 15px;
  margin-bottom: 1.25rem;
}
.progress-bar::after {
  position: absolute;
  content: attr(value);
  top: -35px;
  right: 0;
  color: #808080;
  font-size: 18px;
}
.progress-line {
  position: absolute;
  width: 0%;
  height: 7px;
  background-color: #e6663f;
  border-radius: 15px;
  top: -1px;
  animation: animate 1.5s cubic-bezier(1, 0.2, 0.2, 1) forwards;
}
@keyframes animate {
  100% {
    width: 100%;
  }
}
.progress-line::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  background-color: #d96846;
}
@media (max-width: 768px) {
  .container {
    padding: 30px 8%;
  }
}
@media (max-width: 568px) {
  .container .row {
    flex-direction: column;
  }
  .container .main-title h1 {
    font-size: 36px;
  }
  .container .row {
    margin-top: 30px;
  }
  .row .col:nth-child(2) {
    margin-top: 20px;
  }
}

#journey {
  padding: 50px 0;
  position: relative;
  max-width: 75rem;
  margin: 0 auto;
  height: 100vh;
}

.timeline {
  position: relative;
}

.timeline::before {
  content: " ";
  position: absolute;
  left: 50%;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #f36f46;
  transform: translateX(-50%);
}

.journey-dot {
  height: 0.938rem;
  width: 0.938rem;
  background-color: #d96846;
  border-radius: 50%;
  animation: pulse-glow 3s infinite ease-in-out;
  display: flex;
  top: 50%;
}

@keyframes pulse-glow {
  0% {
    transform: translateX(-50%) scale(0.8);
    box-shadow: 0 0 10px #d96846, 0 0 20px #d96846;
  }
  50% {
    transform: translateX(-50%) scale(1.04);
    box-shadow: 0 0 25px #d96846, 0 0 40px #d96846;
  }
  100% {
    transform: translateX(-50%) scale(0.8);
    box-shadow: 0 0 10px #d96846, 0 0 20px #d96846;
  }
}

.timeline-box {
  width: 50%;
  padding: 20px;
  position: relative;
}

.timeline-box.left {
  left: 0;
  text-align: left;
  left: -1%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.timeline-box.right {
  left: 51%;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.journey-card {
  background-color: #1e1e1e;
  border-radius: 10px;
  border: 1px solid #d96846;
  box-shadow: 0 0 15px #d96846;
  padding: 20px;
  display: inline-block;
  max-width: 90%;
  cursor: none;
  transition: transform 0.6s; /* Animation */
}

.journey-card:hover {
  transform: scale(
    1.02
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  box-shadow: 0 0 10px 0 #d96846;
}

.journey-card h3 {
  color: #d96846;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.date {
  font-size: 0.9rem;
  color: beige;
  margin-bottom: 10px;
}

.journey-card ul {
  padding-left: 20px;
}

.journey-card li {
  margin-bottom: 6px;
  font-size: 0.95rem;
  color: white;
}

/* Responsive fallback */
@media screen and (max-width: 768px) {
  .timeline::before {
    left: 10px;
  }

  .timeline-box {
    width: 100%;
    padding-left: 30px;
    padding-right: 10px;
  }

  .timeline-box.left,
  .timeline-box.right {
    left: 0;
    text-align: left;
  }

  .journey-card {
    max-width: 100%;
  }
}

#certificates {
  padding: 40px 20px;
  height: 80vh;
  margin-top: 50rem;
}
.carousel {
  position: relative;
  max-width: 50rem;
  margin: auto;
  background: #2b2b2c;
  padding: 20px;
  border-radius: 0.8rem;
  border: 1px solid #52504f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.certificate-card {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fade {
  animation-name: fade;
  animation-duration: 1s;
}
@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.certificate-image {
  width: 100%;
  justify-content: center;
  display: flex;
}

.certificate-card img {
  max-width: 40%;
  height: auto;
  border-radius: 8px;
}
.certificate-details {
  width: 100%;
  max-width: 1200px;
  text-align: left;
}
.certificate-card h1 {
  margin-top: 15px;
  font-size: 2rem;
  color: white;
}

.certificate-card p {
  margin: 5px 0;
  color: #ccc;
}
#cert-date {
  margin: 5px 0;
  color: #d96846;
}

.prev:hover,
.next:hover {
  color: rgba(105, 99, 99, 0.5);
}

.btn3 {
  width: 100%;
  margin: auto;
}
.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: transparent;
  border: none;
  color: white;
  cursor: none;
  z-index: 1;
  transition: 0.4s ease;
  user-select: none;
}

.nav.left {
  left: -1.875rem;
}

.nav.right {
  right: -1.875rem;
}

.dot {
  cursor: none;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.4s ease;
}
.active,
.dot:hover {
  background-color: #d96846;
}

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
#experience {
  position: relative;
}

.experience-sub-title {
  color: black;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items at the top */
}

.experience-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
  max-width: 100%;
  margin: 3.75rem auto;
  padding: 0.3rem;
  height: 21.875rem;
}

.article-container {
  display: flex;
  text-align: initial;
  /* flex-wrap: nowrap; */
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
  align-items: flex-start; /* Align items at the top */
}

.project-container {
  padding: 1rem;
  /* flex: 1; */
  width: 30rem;
  height: auto;
  flex-wrap: wrap;
  background: #2b2b2c;
  border-radius: 22px;
  border: 1px solid #52504f;
  text-align: center;
  /* transition: box-shadow 0.3s ease; */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: block;
  position: relative;
  cursor: none;
  align-items: center;
  justify-content: center;
}

.experience-sub {
  color: rgb(247, 114, 38);
  font-size: 0.9rem;
  font-weight: 500;
  display: inline;
  background-color: #222121;
  border: 1px solid #000000;
  border-radius: 27px;
  padding: 2px 9px;
  margin: 0.4rem;
}

.small-heading {
  text-align: left;
  margin-top: 1rem;
}
/* .project-img{
    transition: transform 0.2s;
} */

.project-container:hover .overlay {
  height: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    to top,
    rgba(217, 104, 70, 1) 0%,
    rgba(217, 104, 70, 0.98) 10%,
    rgba(217, 104, 70, 0.93) 20%,
    rgba(217, 104, 70, 0.87) 30%,
    rgba(217, 104, 70, 0.8) 50%,
    rgba(217, 104, 70, 0.6) 70%,
    rgba(217, 104, 70, 0.3) 90%,
    rgba(217, 104, 70, 0) 100%
  );
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.8s ease;
  border-radius: 22px;
}
.over_text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.btn-container-project {
  gap: 1rem;
}

.btn-project1 {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 10rem;
  border-radius: 8px;
  height: 3rem;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(128, 123, 123);
  color: #d96846;
  top: 65%;
  left: 38.5%;
  position: absolute;
  -webkit-transform: translate(-85%, -35%);
  -ms-transform: translate(-85%, -35%);
  transform: translate(-85%, -35%);
  text-align: center;
  cursor: none;
}
.btn-project2 {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 10rem;
  border-radius: 8px;
  height: 3rem;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(128, 123, 123);
  color: #d96846;
  top: 65%;
  left: 73.5%;
  position: absolute;
  -webkit-transform: translate(-45%, -35%);
  -ms-transform: translate(-45%, -35%);
  transform: translate(-45%, -35%);
  text-align: center;
  cursor: none;
}
.btn-project2:hover,
.btn-project1:hover {
  background-color: #3f3b3b;
  border: 1px solid rgb(73, 71, 71);
}
article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

#projects {
  position: relative;
}

.project-img {
  border-radius: 1rem;
  width: 80%;
  height: 63%;
}

/* .project-img:hover{
    -webkit-filter: blur(4px);
    filter: blur(4px);
} */

.project-title {
  margin: 1rem;
  color: white;
  text-align: left;
  font-size: 1.5rem;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
}

.contact-info-upper-container {
  display: flex;
  border-radius: 2rem;
  padding: 0.5rem;
  gap: 10rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1.6rem;
  align-items: flex-start; /* 🔥 Align everything to the left */
}

.contact-info-container p {
  color: white;
  margin-bottom: 5px;
}

.contact-info-container h3 {
  color: #d96846;
  margin-bottom: 5px;
}
/* 
.contact-icon{
    cursor: pointer;
    display: inline;
}

.email-icon{
    height: 2.5rem;

}

.linkedin-icon{
    margin-left: 3px;
} */

textarea::placeholder {
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  display: flex;
  flex-direction: column;
  height: 5rem;
  width: 100%;
  z-index: 9999;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  gap: 4rem;
}

.footer-end {
  width: 100%;
  min-height: 5.625rem;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p {
  text-align: center;
  color: white;
  font-size: 1.1rem;
}

.section_text_p4 {
  text-align: left;
  font-size: 2rem;
  color: white;
  margin-left: 2rem;
}
.contact-right form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.4rem;
  flex-basis: 85%;
  margin: auto;
}

.contact-right {
  display: flex;
  width: 40rem;
  background-color: #1e1e1f;
  border-radius: 13px;
  box-shadow: 0px 0px 3px 6px rgba(172, 169, 169, 0.1);
  border: 1px solid rgb(128, 123, 123);
  height: 30rem;
}

.form-row {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
}

.form-row input {
  flex: 1;
}

form input,
form textarea {
  width: 100%;
  outline: none;
  background: #1e1e1f;
  padding: 15px;
  color: white;
  font-size: 0.9rem;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid rgb(128, 123, 123);
  background: transparent;
}

input:-webkit-autofill {
  background-color: #1a1a1a !important;
  color: white !important;
  box-shadow: 0 0 0px 1000px #1a1a1a inset !important;
  -webkit-text-fill-color: white !important;
}

input[type="text"]:focus {
  border: 2px solid #d96846;
}
input[type="email"]:focus {
  border: 1px solid #d96846;
}

input[type="submit"]:focus {
  border: 1px solid #d96846;
}
textarea:focus {
  border: 1px solid #d96846;
}

.submit-btn {
  width: 100%;
  margin-top: 1rem;
}

#message {
  color: green;
  margin-top: 2rem;
  display: block;
  text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 0.7rem;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 1rem;
  background-color: rgb(51, 50, 50);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d96846;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f05a2c;
}
